<h4 class="head">Key Features
    <button type="button" class="btn btn-primary pull-right p-1"
        (click)="openModalWithComponent(receivedId)">Add</button>
</h4>

<table class="table table-striped" *ngFor="let item of keyFeatures; index as i">
    <tbody *ngIf="item.appFeatureId===receivedId">
        <tr>
            <!-- <td height="50" style="padding: 5px;">{{item.keyfeatures}}</td> -->
            <td>{{item.keyfeatures}}</td>

            <td> <button type="button" class="btn btn-danger pull-right p-0" style="margin:5px;"
                    (click)="onDelete(item.id)"><i class="fa fa-trash fa-sm" style="color:white"
                        aria-hidden="true"></i></button>
                <button type="button" class="btn btn-primary pull-right p-0" style="margin:5px;"
                    (click)="onEditKeyFeature(item)"><i class="fa fa-pencil-square-o fa-sm" style="color:white"
                        aria-hidden="true"></i></button>&nbsp; &nbsp;
            </td>
            <!-- <td><button class="btn btn-danger pull-right p-0" (click)="onDelete(item.id)">
                    <i class="fa fa-trash fa-sm"></i></button></td> -->

        </tr>
        <tr *ngIf="keyFeatures.length===0 && !isFetching">
            <td colspan="1" class="text-center">No Features Available</td>
        </tr>
        
    </tbody>
</table>
<div *ngIf="isFetching" class="spinner spinner-sm">
    <div class="lspinner"></div>
</div>