<div class="modal-header">
   <h4 class="modal-title pull-left">{{title}}</h4>
   <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
   </button>
</div>
<div class="modal-body">
   <form class="needs-validation" (ngSubmit)="onSubmit(featureForm)" #featureForm="ngForm">
      <div class="form-group" [class.has-error]="titlecontrol.invalid && titlecontrol.touched">
         <label for="title" class="control-label">Title</label>
         <input class="form-control" id="title" placeholder="Title" [ngModel]="applicationFeatures.title"
            #titlecontrol="ngModel" name="title" required maxlength="26">
         <span class="help-block" style="color:red"
            *ngIf="titlecontrol.invalid && titlecontrol.touched && titlecontrol.errors?.maxlength">
            Please enter a title.
         </span>
      </div>
      <div class="form-group" [class.has-error]="headingcontrol.invalid && headingcontrol.touched">
         <label for="heading" class="control-label">Heading</label>
         <input class="form-control" id="heading" placeholder="Heading" [ngModel]="applicationFeatures.heading"
            #headingcontrol="ngModel" name="heading" required>
         <span class="help-block" style="color:red" *ngIf="headingcontrol.invalid && headingcontrol.touched">
            Please enter a heading.
         </span>
      </div>

      <div class="form-group" [class.has-error]="subjectcontrol.invalid && subjectcontrol.touched">
         <label for="subject" class="control-label">Subject</label>
         <input class="form-control" id="subject" placeholder="Subject" [ngModel]="applicationFeatures.subject"
            #subjectcontrol="ngModel" name="subject" required>
         <span class="help-block" style="color:red" *ngIf="subjectcontrol.invalid && subjectcontrol.touched">
            Please enter subject.
         </span>
      </div>



      <div class="form-group" [class.has-error]="typecontrol.invalid && typecontrol.touched">
         <label for="featureType" class="control-label">Feature Type</label>
         <select class="form-control" id="featureType" placeholder="Feature Type"
            [ngModel]="applicationFeatures.featureType" #typecontrol="ngModel" name="featureType" required>
            <option value="" selected disabled>--Select--</option>
            <option value="Bug">Bug</option>
            <option value="Feature">Feature</option>

         </select>
         <span class="help-block" style="color:red" *ngIf="typecontrol.invalid && typecontrol.touched">
            Please select feature type.
         </span>
      </div>

      <div class="form-group" [class.has-error]="releasecontrol.invalid && releasecontrol.touched">
         <label for="expectedRelease" class="control-label">Expected Release</label>
         <input class="form-control" id="expectedRelease" placeholder="Expected Release"
            [ngModel]="applicationFeatures.expectedRelease" #releasecontrol="ngModel" name="expectedRelease" required>
         <span class="help-block" style="color:red" *ngIf="releasecontrol.invalid && releasecontrol.touched">
            Please enter expected release.
         </span>
      </div>

      <div class="form-group" [class.has-error]="descriptioncontrol.invalid && descriptioncontrol.touched">
         <label for="description" class="control-label">Description</label>
         <textarea class="form-control" id="description" rows="5" placeholder="Description"
            [ngModel]="applicationFeatures.description" #descriptioncontrol="ngModel" name="description" required
            maxlength="500">
                          </textarea>
         <span class="help-block" style="color:red" *ngIf="descriptioncontrol.invalid && descriptioncontrol.touched">
            Please enter description.
         </span>
      </div>
      <div class="form-group">
         <label>Title Color</label>
         <color-slider (onChangeComplete)="handleChangeComplete($event)"></color-slider>
      </div>

      <div class="modal-footer">
         <button type="submit" class="btn btn-success p-1" style="margin:5px;"
            [disabled]="!featureForm.valid">{{editMode ? 'Update' : 'Add'}}</button>

         <button type="button" class="btn btn-cancel p-1" style="margin:5px;"
            (click)="bsModalRef.hide()">Cancel</button>

      </div>
   </form>
</div>